<!doctype html>
<html ng-app="morseWhistle">

<head>
  <meta charset="utf-8" />
  <title>morseWhistle</title>

  <link rel="stylesheet" type="text/css" href="style.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>

  <script src="app.js"></script>
  <script src="whistleController.js"></script>
</head>

<body  ng-controller="whistleController">

  <div style="text-align:center">
    <div class="recbutton" ng-click="setMic()">
      <div class="text">{{micMessage}}
      </div>
    </div>
  </div>

  <div class="button" ng-repeat="value in alphabet">
    <div ng-click="synMorse(value)" class="text">{{value}}
    </div>
  </div>

  <div>Amplitude: {{amplitude}} </div>
  <div>{{amplitudeThreshold}} </div>
  <div>Ratio: {{ratio}} </div>
  <div>{{ratioThreshold}} </div>
  <div ng-show="trigger">TRIGGER</div>
  <div ng-show="short">SHORT</div>
  <div ng-show="long">LONG</div>
  <div>{{code}}</div>
</body>
