.button {
  background-color: grey;
  width: 20vmin;
  height: 12vmin;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
  font-size: 6vmin;
}

.blueButton {
  background-color: lightblue;
  width: 20vmin;
  height: 12vmin;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
  font-size: 6vmin;
}

.redButton {
  background-color: red;
  width: 20vmin;
  height: 12vmin;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
  font-size: 6vmin;
}

.text {
  font-size: 6vmin;
  display: inline-block;
  padding: 2vmin;
}
